<div class="tabs-ctn">
  <ul class="select-tabs hide">
    <li class="tabs-item"><a href="#">Select</a></li>
    <li class="tabs-item"><a href="#">Deselect</a></li>
  </ul>
  <ul class="daily-tabs">
    <li class="tabs-item"><a href="#" class="active">All</a></li>
    <li class="tabs-item"><a href="#">Urgent</a></li>
    <li class="tabs-item"><a href="#">High</a></li>
    <li class="tabs-item"><a href="#">Middle</a></li>
    <li class="tabs-item"><a href="#">Low</a></li>
  </ul>
</div>

<section class="globalList-ctn">
  <ul class="global-taskList tasks-list">
  {{#each tasks}}
  <li class="global-taskListItem {{taskType}}">
    <h4 class="global-taskListItem-title">{{taskType}}</h4>
    <li class="task-item {{taskType}} {{priorityType}}">
      <div class="trs-ctn">
        <input type="checkbox" name="deleteGlobalTask" value="task-{{taskId}}" class="delTask-btn" id="task-{{taskId}}">
        <label for="task-{{taskId}}" class="icon-trash"></label>
      </div>
      <div class="date-ctn">
        {{#if dateNum}}
          <p class="date-num">{{dateNum}}</p>
        {{/if}}
        <p class="date-day">{{dateDay}}</p>
      </div>
      <div class="task-info">
        <h3 class="task-title">{{taskTitle}}</h3>
        <p class="task-desc">{{taskDesc}}</p>
      </div>
      <div class="btn-ctn">
        <button class="btn icon-arrows-up"></button>
        <button class="btn edit-btn icon-edit"></button>
      </div>
      <a href="#" class="priority-ctn icon-tomato" role="button"><span>{{priority}}</span></a>
    </li>
  </li>
  {{/each}}
  </ul>
</section>
