
  <ul class="global-taskList">
  {{#each this}}
    {{#if this.length}}
    <li>
      <ul class="global-taskListItem task-{{@key}} tasks-list">
      <h4 class="global-taskListItem-title">{{@key}}</h4>
        {{#each this}}
        <li class="task-item {{this.taskType}} {{this.priorityType}}" data-attribute="{{this.taskId}}">
          <div class="trs-ctn">
            <input type="checkbox" name="deleteGlobalTask" value="{{this.taskId}}" class="delTask-btn" id="task-{{this.taskId}}">
            <label for="task-{{this.taskId}}" class="icon-trash"></label>
          </div>
          <div class="date-ctn">
            {{#if this.dateNum}}
              <p class="date-num">{{this.dateNum}}</p>
            {{/if}}
            <p class="date-day">{{this.dateDay}}</p>
          </div>
          <div class="task-info">
            <h3 class="task-title">{{this.taskTitle}}</h3>
            <p class="task-desc">{{this.taskDesc}}</p>
          </div>
          <div class="btn-ctn">
            <button class="btn icon-arrows-up"></button>
            <button class="btn edit-btn icon-edit"></button>
          </div>
          <a href="#" class="priority-ctn icon-tomato" role="button"><span>{{this.estimationTotal}}</span></a>
        </li>
        {{/each}}
      </ul>
    </li>
      {{/if}}
  {{/each}}
  </ul>
