<div class="title-ctn">
    <h1 class="title">Daily Task List</h1>
      <button class="addTask-btn icon-add"></button>
</div>
<div class="tabs-ctn">
  <ul class="hide select-tabs">
    <li class="tabs-item"><a href="#" class="selectAll">Select</a></li>
    <li class="tabs-item"><a href="#" class="deselectAll">Deselect</a></li>
  </ul>
  <ul class="daily-tabs">
    <li class="tabs-item"><a href="#" class="active">To Do</a></li>
    <li class="tabs-item"><a href="tasks_done.html">Done</a></li>
  </ul>
</div>
<section class="tasks-ctn">
    <ul class="tasks-list">
      {{#each tasks}}
          <li class="task-item {{taskType}} {{priorityType}}">
            <div class="trs-ctn">
              <input type="checkbox" name="commonTask" value="task-{{taskId}}" class="delTask-btn" id="task-{{taskId}}">
              <label for="task-{{taskId}}" class="icon-trash"></label>
            </div>
              <div class="date-ctn">
                {{#if dateNum}}
                    <p class="date-num">{{dateNum}}</p>
                {{/if}}
                  <p class="date-day">{{dateDay}}</p>
              </div>
              <div class="task-info">
                  <h3 class="task-title">{{taskTitle}}</h3>
                  <p class="task-desc">{{taskDesc}}</p>
              </div>
              <div class="btn-ctn">
                  <button class="btn edit-btn icon-edit"></button>
              </div>
              <a href="#/timer/" class="priority-ctn icon-tomato" role="button"><span>{{priority}}</span></a>
          </li>
      {{/each}}
    </ul>
</section>
<a href="#" class="globalList-btn" role="button">Global list <span class="icon-global-list-arrow-right"></span></a>
<section class="globalList-ctn hide">
</section>
