 <section class="tasks-ctn">
            <ul class="tasks-list tasks-list-common">
              {{#each tasks}}
                  <li class="task-item {{taskType}} {{priorityType}}">
                      <div class="date-ctn">
                        {{#if dateNum}}
                            <p class="date-num">{{dateNum}}</p>
                        {{/if}}
                          <p class="date-day">{{dateDay}}</p>
                      </div>
                      <div class="task-info">
                          <h3 class="task-title">{{taskTitle}}</h3>
                          <p class="task-desc">{{taskDesc}}</p>
                      </div>
                      <div class="btn-ctn">
                          <button class="btn edit-btn icon-edit"></button>
                      </div>
                      <a href="#" class="priority-ctn icon-tomato" role="button"><span>{{priority}}</span></a>
                  </li>
              {{/each}}
            </ul>
        </section>




